[alias]
    branches = branch -a --list
    alog = log --graph --decorate --all --pretty='format:%h %Cred %ad %Cgreen %cn %d %Creset %s' --color --date=short
    blog = log --graph --decorate --all --pretty=oneline --abbrev-commit --source
    clog = log --graph --decorate --all --pretty=oneline --abbrev-commit --color
    glog = log --graph --all --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
    graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    ss = stash save
    sl = stash list
    sa = "!sh -c 'git stash apply stash@{$1}' -"
    sd = "!sh -c 'git stash drop stash@{$1}' -"
    sp = "!sh -c 'git stash pop stash@{$1}' -"
    sshow = "!sh -c 'git stash show -p stash@{$1}' -"
	co = checkout
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
	sshCommand = "ssh -i ~/.ssh/id_ed25519"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[push]
	default = simple
[user]
	name = Erik Tank
	email = erik.tank@pluto.tv
[url "git@github.com:"]
	insteadOf = https://github.com/
[global]
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
